<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air.login">

    <application>
        <activity android:name=".activities.ForgottenPasswordActivity"></activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
    </application>

</manifest>