
# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# ======== Map URIs ========= #

# Users
RewriteRule ^users/list/?$ ws/ws.php?entity=users&args [nc,qsa]
RewriteRule ^users/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=users&args=$1 [nc,qsa]
RewriteRule ^users/insert/?$ ws/ws.php?entity=users&action=insert [nc,qsa]
RewriteRule ^users/update/?$ ws/ws.php?entity=users&action=update [nc,qsa]
RewriteRule ^users/delete/?$ ws/ws.php?entity=users&action=delete [nc,qsa]
#RewriteRule ^users/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=users&action=insert&args=$1 [nc,qsa]
#RewriteRule ^users/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=users&action=update&args=$1 [nc,qsa]
#RewriteRule ^users/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=users&args=$1 [nc,qsa]

# Events
RewriteRule ^events/list/?$ ws/ws.php?entity=events&args [nc,qsa]
RewriteRule ^events/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=events&args=$1 [nc,qsa]
RewriteRule ^events/insert/?$ ws/ws.php?entity=events&action=insert [nc,qsa]
RewriteRule ^events/update/?$ ws/ws.php?entity=events&action=update [nc,qsa]
RewriteRule ^events/delete/?$ ws/ws.php?entity=events&action=delete [nc,qsa]
#RewriteRule ^events/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=events&action=insert&args=$1 [nc,qsa]
#RewriteRule ^events/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=events&action=update&args=$1 [nc,qsa]
#RewriteRule ^events/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=events&args=$1 [nc,qsa]

# Sports
RewriteRule ^sports/list/?$ ws/ws.php?entity=sports&args [nc,qsa]
RewriteRule ^sports/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=sports&args=$1 [nc,qsa]
RewriteRule ^sports/insert/?$ ws/ws.php?entity=sports&action=insert [nc,qsa]
RewriteRule ^sports/update/?$ ws/ws.php?entity=sports&action=update [nc,qsa]
RewriteRule ^sports/delete/?$ ws/ws.php?entity=sports&action=delete [nc,qsa]
#RewriteRule ^sports/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=sports&action=insert&args=$1 [nc,qsa]
#RewriteRule ^sports/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=sports&action=update&args=$1 [nc,qsa]
#RewriteRule ^sports/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=sports&args=$1 [nc,qsa]

# Settings
RewriteRule ^settings/list/?$ ws/ws.php?entity=settings&args [nc,qsa]
RewriteRule ^settings/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=settings&args=$1 [nc,qsa]
RewriteRule ^settings/insert/?$ ws/ws.php?entity=settings&action=insert [nc,qsa]
RewriteRule ^settings/update/?$ ws/ws.php?entity=settings&action=update [nc,qsa]
RewriteRule ^settings/delete/?$ ws/ws.php?entity=settings&action=delete [nc,qsa]
#RewriteRule ^settings/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=settings&action=insert&args=$1 [nc,qsa]
#RewriteRule ^settings/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=settings&action=update&args=$1 [nc,qsa]
#RewriteRule ^settings/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=settings&args=$1 [nc,qsa]

# Participations
RewriteRule ^participations/list/?$ ws/ws.php?entity=participations&args [nc,qsa]
RewriteRule ^participations/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=participations&args=$1 [nc,qsa]
RewriteRule ^participations/insert/?$ ws/ws.php?entity=participations&action=insert [nc,qsa]
RewriteRule ^participations/update/?$ ws/ws.php?entity=participations&action=update [nc,qsa]
RewriteRule ^participations/delete/?$ ws/ws.php?entity=participations&action=delete [nc,qsa]
#RewriteRule ^participations/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=participations&action=insert&args=$1 [nc,qsa]
#RewriteRule ^participations/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=participations&action=update&args=$1 [nc,qsa]
#RewriteRule ^participations/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=participations&args=$1 [nc,qsa]

# Applications
RewriteRule ^applications/list/?$ ws/ws.php?entity=applications&args [nc,qsa]
RewriteRule ^applications/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=applications&args=$1 [nc,qsa]
RewriteRule ^applications/insert/?$ ws/ws.php?entity=applications&action=insert [nc,qsa]
RewriteRule ^applications/update/?$ ws/ws.php?entity=applications&action=update [nc,qsa]
RewriteRule ^applications/delete/?$ ws/ws.php?entity=applications&action=delete [nc,qsa]
#RewriteRule ^applications/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=applications&action=insert&args=$1 [nc,qsa]
#RewriteRule ^applications/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=applications&action=update&args=$1 [nc,qsa]
#RewriteRule ^applications/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=applications&args=$1 [nc,qsa]

# Messages
RewriteRule ^messages/list/?$ ws/ws.php?entity=messages&args [nc,qsa]
RewriteRule ^messages/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=messages&args=$1 [nc,qsa]
RewriteRule ^messages/insert/?$ ws/ws.php?entity=messages&action=insert [nc,qsa]
RewriteRule ^messages/update/?$ ws/ws.php?entity=messages&action=update [nc,qsa]
RewriteRule ^messages/delete/?$ ws/ws.php?entity=messages&action=delete [nc,qsa]
#RewriteRule ^messages/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=messages&action=insert&args=$1 [nc,qsa]
#RewriteRule ^messages/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=messages&action=update&args=$1 [nc,qsa]
#RewriteRule ^messages/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=messages&args=$1 [nc,qsa]

# Chats
RewriteRule ^chats/list/?$ ws/ws.php?entity=chats&args [nc,qsa]
RewriteRule ^chats/list/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=chats&args=$1 [nc,qsa]
RewriteRule ^chats/insert/?$ ws/ws.php?entity=chats&action=insert [nc,qsa]
RewriteRule ^chats/update/?$ ws/ws.php?entity=chats&action=update [nc,qsa]
RewriteRule ^chats/delete/?$ ws/ws.php?entity=chats&action=delete [nc,qsa]
#RewriteRule ^chats/insert/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=chats&action=insert&args=$1 [nc,qsa]
#RewriteRule ^chats/update/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=chats&action=update&args=$1 [nc,qsa]
#RewriteRule ^chats/delete/([A-Za-z0-9]+=*)/?$ ws/ws.php?entity=chats&args=$1 [nc,qsa]
